.buttons-block {
  display: flex;
  justify-content: space-between;
}

.buttons-block button {
  cursor: pointer;
}

.buttons-block__row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-bottom: -10px;
}

.buttons-block__row button {
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 10px 0;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  background-color: #d7d7d7;
}

.buttons-block__row button:hover {
  background-color: #c7c7c7;
}

.buttons-block__row.is__number {
  width: 70%;
}

.buttons-block__row.is__number button {
  width: calc((100% - 30px) / 3);
}

.buttons-block__row.is__op {
  width: 30%;
}

.buttons-block__row.is__op button {
  width: calc((100% - 20px) / 2);
}

.buttons-block__row.is__op button.reset,
.buttons-block__row.is__op button.answer {
  width: 100%;
}
